<!DOCTYPE html>
<html>
<head>
  <title>Barter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body  ng-app="barter">

  <div class="container">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <div class="logged-in">
              <a class="navbar-brand" href="#" ng-link="talents"><%= current_user.username.capitalize %></a>

              <a class="navbar-brand" style="display: inline;" href="/logout" method="destroy"></i>Logout</a>
            </div>

          <% else %>
            <ul class="nav nav-tabs">
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle navbar-brand" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                  Login <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <%= form_for :session, url: login_path do |f| %>
                    <li><%= f.label :username %><br><%= f.text_field :username %></li>
                    <li><%= f.label :password %><br><%= f.password_field :password %></li>
                    <li><%= f.submit "Login" %></li>
                  <% end %>
                </ul>
              </li>

              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle navbar-brand" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                  Signup <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <%= form_for :user, url: users_path do |f| %>
                    <li><%= f.label :email %><br><%= f.text_field :email %></li>
                    <li><%= f.label :username %><br><%= f.text_field :username %></li>
                    <li><%= f.label :password %><br><%= f.password_field :password %></li>
                    <li><%= f.label :password %><br><%= f.password_field :password_confirmation %></li>
                    <li><%= f.submit %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          <% end %>

          </ul>
        </div>
      </div>
    </div>
    <div style="margin-top: 55px;">
    </div>
  </div>

<%= yield %>

</body>
</html>
