<!DOCTYPE html>
<html>
<head>
  <title>Barter</title>

    <!-- Latest compiled and minified CSS -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Federo' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc1.min.js"></script>
</head>
<body ng-app="barter" ng-controller="AppController as app">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#session">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="brand-font" class="navbar-brand" href="/"> Barter</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="session">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><a class="fa fa-user" ng-href="#/users/<%=current_user.id%>"> <%= current_user.username.capitalize %></a></li>
            <li><a href="/logout" method="destroy"></i>Logout <i class="fa fa-sign-out"></i></a></li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle fa fa-sign-in" data-toggle="dropdown" role="button" aria-expanded="false"> Login<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <%= form_for :session, url: login_path do |f| %>
                  <li><%= f.label :username %><br><%= f.text_field :username %></li>
                  <li><%= f.label :password %><br><%= f.password_field :password %></li>
                  <li><%= f.submit "Login" %></li>
                <% end %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sign Up<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <%= form_tag "/users" do |f| %>
                  <li>Username:<br><%= text_field_tag :username %></li>
                  <li>Email:<br><%= text_field_tag :email %></li>
                  <li>Password:<br><%= password_field_tag :password %></li>
                  <li>Password Confirmation:<br><%= password_field_tag :password_confirmation %></li>
                  <li><%= submit_tag "Sign up" %></li>
                <% end %>
              </ul>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
